.ipynb_checkpoints/
venv
tmp
.vscode
__pycache__
*.egg-info/
.coverage
.tox
exercises/dredze_amazon_reviews.tsv
exercises/dredze_amazon_reviews.zip
exercises/optuna.db
exercises/finetuned/*
exercises/finetuned_head/* 
exercises/tmp_trainer/*   